*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(9,49,121);
    background: linear-gradient(90deg, rgba(9,49,121,0.8715861344537815) 46%, rgba(0,212,255,0.6054796918767507) 100%);
}

.caixa{
    height: auto;
    min-height: 400px;
    width: 95%;
    max-width: 400px;
    background-color: rgb(32, 36, 43);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.caixa h1{
    color: #ccc;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    padding-bottom: 5px;
}


.caixa #display{
    height: 10%;
    min-height: 40px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding: 5px;
    border-radius: 2px;
}

#result{
    height: 100%;
    width: 100%;
    overflow-wrap: break-word;
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.btns{
    height: 95%;
    width: 100%;
    padding: 10px 0;
}

.btns table{
    height: 100%;
    width: 100%;
}

.btns table tr{
    height: auto;
}

.btns table tr button{
    height: 100%;
    width: 100%;
    cursor: pointer;
    border: none;
}

.btns table tr button:hover{
   background-color: rgb(133, 136, 136);
}